.box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--transition-main-value), box-shadow var(--transition-main-value);
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 50%);

}

.box img {
    max-width: 100%;
}

.box .content {
    padding: 20px 20px 15px;
}

.box .content h3 {
    font-size: 18px;
    margin: -3px 0;
}

.box .content p {
    line-height: 1.4;
    padding-top: 10px;
}

.box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6E6E7;
}

.box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.box .info .rate i {
    color: var(--icon-color);
    transition: transform var(--transition-main-value);
}

.box:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}