.ant-picker-input {
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    padding: 17px;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: #8ed081 !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before, .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background: #e3f3df !important;
}
.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background: #e3f3df !important;
}
.ant-picker-range .ant-picker-active-bar {
    background: #8ed081 !important;
}