.house-container .house-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: 20px;
}

.house-container .house-images .house-img-wrapper .house-img {
    max-width: 100%;
}

.house-container .house-detail-price {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.house-container .house-detail-price .price-rate {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.house-container .houses-informations {
    display: grid;
    grid-template-columns: 2fr 350px;
    gap: 40px;
    margin: 80px 20px;
}

.house-container .houses-informations .house-details {
    grid-row-start: 1;
    grid-column-start: 1;
}

.travel-detail .travel-client-detail {
    display: flex;
    justify-content: space-around;
}

.travel-detail .house-details {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.travel-detail .house-details img {
    max-width: 100px;
    border-radius: 10px;
}

.travel-detail .reserver {
    text-align: center;
}

.travel-detail .reserver button {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    border: 0;
    background-color: #8ED081;
    color: #FDFDFD;
    margin: 30px;
}

.travel-detail .price-details {
    padding: 20px;
}

.price-night,
.price-taxe,
.price-total {
    display: flex;
    justify-content: space-between;
}