/*  Fonts   */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* Start Global Rules */
:root {
    --main-color: #8ED081;
    --main-color-hovered: #83c177;
    --second-color: #FDFDFD;
    --icon-color: #FFB703;
    --transition-main-value: 0.3s;
    --bs-primary: #8ED081;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn-atypik {
    background-color: var(--main-color) !important;
    color: white !important;
}

.btn-atypik:hover {
    background-color: var(--main-color-hovered) !important;
    color: white !important;
}

.btn-atypik:active {
    background-color: var(--main-color-hovered) !important;
    color: white !important;
}

.atypik-sm-text {
    color: #b2b2b2;
    font-size: 14px;
}

.atypik-cur-title {
    font-family: 'Amatic SC', cursive;
    color: var(--main-color);
    font-size: 4em;
}

.card {
    border-radius: 20px !important;
    border: 0 !important;
    box-shadow: 0 0 9px 0px #e5e5e5 !important;
}

.card-img-top {
    border-radius: 20px !important;
}

.bg-atypik {
    background-color: var(--main-color);
}

.text-atypik {
    color: var(--main-color)
}

/* .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} */

/* Small Screen  */
/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */

/* Medium Screen  */
/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */

/* Large Screen  */
/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

.atypik-btn:hover {
    background-color: var(--main-color) !important;
    color: var(--second-color);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 9px 0px #e5e5e5;
}

.dropdown-divider {
    border-top: 1px solid #f2f2f2;
}

.atypik-input .icon {
    background: var(--second-color);
    color: var(--icon-color);
}

.atypik-input .input {
    border-left: none !important;
    margin-left: -12px !important;
}

.atypik-input .input:focus {
    box-shadow: none !important;
    /* border: 1px solid #8ED081 */
}

.ant-picker-focused {
    box-shadow: none !important
}

.ant-picker-range .ant-picker-active-bar {
    background: var(--icon-color) !important
}

.sbTitle {
    color: white !important;
    font-size: 3.5em;
}

/* End Global Rules */