/*     */
/* Start Global Rules */

:root {
    --main-color: #8ED081;
    --second-color: #FDFDFD;
    --icon-color: #FFB703;
    --transition-main-value: 0.3s;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
}

.atypik-btn {
    background-color: var(--main-color) !important;
    color: white;
    border-radius: 0;
}

/* .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
} */

/* Small Screen  */
/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */

/* Medium Screen  */
/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */

/* Large Screen  */
/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

.atypik-btn:hover {
    background-color: var(--main-color) !important;
    color: var(--second-color);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 9px 0px #e5e5e5;
}

.dropdown-divider {
    border-top: 1px solid #f2f2f2;
}

.atypik-input .icon {
    background: var(--second-color);
    color: var(--icon-color);
}

.atypik-input .input {
    border-left: none !important;
    margin-left: -12px !important;
}

.atypik-input .input:focus {
    box-shadow: none !important;
    /* border: 1px solid #8ED081 */
}

/* End Global Rules */