.search-item-card {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.house-images img {
    max-width: 300px;
}

.house-details h2 {
    font-size: 20px;
    font-weight: bold;
}

.house-details p {
    font-size: 13px;
}

.house-details .location h3 {
    font-size: 12px;
}

.search-info {
    height: 50px;
}